<!-- Google+ -->
	<meta itemprop="name" content="Majdi MHENNI">
	<meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Params.abstract }}{{ end }}{{ end }}" />
	<meta itemprop="image" content="https://majdimhenni.tn/img/portrait.jpg">
	<link rel="author" href="https://plus.google.com/u/1/+MajdiMh%C3%A9nniprofil" />
	<link rel="publisher" href="https://plus.google.com/u/1/+MajdiMh%C3%A9nniprofil" />
<!-- Schema.org -->
	<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/majdimhenni.tn\/","name":"Majdi M'h\u00e9nni","potentialAction":{"@type":"SearchAction","target":"http:\/\/majdimhenni.tn\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
	<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Person","url":"http:\/\/majdimhenni.tn\/","sameAs":["https:\/\/www.facebook.com\/majdi.mhenni","https:\/\/www.linkedin.com\/in\/majdimhenni\/"],"@id":"#person","name":"Majdi M'h\u00e9nni"}</script>